$myColor: red;

.carousel {
  position: relative;
}
.dispImage {
  width: 130px;
  height: 120px;
  object-fit: cover;
  object-position: top;
}
.imageContainer {
  width: auto;
  white-space: nowrap;
  overflow-x: scroll;
}
