.icon-48-customized_trips {
      background-image: url(../images/l_customized_trips.png);
      padding-left:60px!important;
}

.icon-48-customized_trip {
      background-image: url(../images/l_customized_trips.png);
      padding-left:60px!important;
}

.color-box-customized_trips { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}

.icon-48-flights {
      background-image: url(../images/l_flights.png);
      padding-left:60px!important;
}

.icon-48-flight {
      background-image: url(../images/l_flights.png);
      padding-left:60px!important;
}

.color-box-flights { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}