.dotsSlider li {
  background: black;
  border: 1px solid black;
}
.popupDesc {
  padding-left: 25px;
}
.responsiblities ul {
  margin-left: 2em;
}
.ant-carousel .slick-dots-bottom.mainCarouselDots {
  bottom: -30px;
  margin: 0;
}
.mainCarouselDots li {
  height: 15px !important;
  width: 15px !important;
}
.mainCarouselDots li button {
  height: 100% !important;
  background: #02a1c8 !important;
  border-radius: 50% !important;
}
.mainCarousel .slick-slide .item-img {
  width: 214px;
  height: 215px;
}
.portfolio-item .item-wrap {
  margin: 0 15px;
}
.columns.is-gapless {
  padding: 6px;
  width: 100%;
  display: flex !important;
  background: none;
  justify-content: center;
  align-items: center;
  top: -2.1875rem;
}

.columns.is-gapless .column{
  display: none;
}
.columns.is-gapless .column.has-addons{
  display: block;
}
.resumeModal .ant-modal-body {
  padding: 0;
}
.canvasPdfCSs {
  max-width: 770px;
}

.canvasPdfCSs canvas {
  max-width: 770px;
}
@media only screen and (max-width: 600px) {
  .columns.is-gapless {
    top: 0
  }
  .canvasPdfCSs {
    max-width: 400px;
  }
  
  .canvasPdfCSs canvas {
    max-width: 400px;
  }
}